

header {
}

#navleft {

}

#logo {
}

nav {
	margin: auto;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	padding: 4px;
	margin: 1px;
	border: 1px solid black;
}

li a {
	display: inline-block;
		text-align: center;
}



/*#pagewrap {
	width: 94%;
	clear: both;
}*/

.menu {
	text-decoration: none;
	margin: auto;
	font-family: 'Calibri', serif;
	padding-right: 3px;
	text-transform: uppercase;
}


div {
	display: inline-block;
	padding: 25px;
	font-family: arial;
}



#left {
	background-color: lightgray;
	width: 25%;
	float: left;
}

#maincontent {
	background-color: green;
	width: 35%;
	float: left;
}

#right {
	background-color: darkgray;
	width: 25%;
	float: left;
}

#footer {
	clear: both;
	background-color: darkgray;
	width: 500px;
	margin: 0 auto;


}

#social {

}