#pagewrap {
	width: 94%;
}

.menu {
	text-decoration: none;
	margin: auto;
}

a {
	
}

li {
	list-style: none;
	display: inline;

}

div {
	display: inline-block;
	padding: 25px;
	font-family: arial;

}



#left {
	background-color: lightgray;
	width: 25%;
	float: left;
}

#maincontent {
	background-color: green;
	width: 35%;
	float: left;
}

#right {
	background-color: darkgray;
	width: 25%;
	float: left;
}

#footer {
	clear: both;
	background-color: darkgray;
	width: 600px;
	margin: 0 auto;

}

#social {

}